<svg fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 277.327L97.5611 184.344L304.463 184.193L322 166.337L303.906 147.955L97.5611 147.78L0.0299237 196.896L0 277.327Z" fill="#FFB800"/>
<path d="M0 196.72L97.7419 148.26H271.615L287 130.976L271.615 113.323L97.7419 113.234L0 114.207V196.72Z" fill="#FF8A00"/>
<path d="M0 115.153L324.577 114.284L341 96.6058L325.297 78.4732L97.5271 79.1804L0 27.8287V115.153Z" fill="#BC8700"/>
<path d="M0 28.5099L97.6942 79.6477L258.541 78.6932L278 56.6717L258.974 35.8403H97.6942L56.0967 -2.2323e-06H0.139415L0 28.5099Z" fill="#6F5205"/>
</svg>
