// Sanzhar changes

// Svg animation for stroke moving
@mixin svgLine($start,$end) {   
  0% {  
    stroke-dashoffset: $start;
  }
  100% {
    stroke-dashoffset: $end;
  }
}
@mixin absolutSvg($left, $right, $top, $width) {
  @if $left == '' {
    position: absolute;
    right: $right;
    top: $top;
    svg {
      opacity: 0;
      width: $width;
    }    
  } 
  @if $right == '' {
    position: absolute;
    left: $left;
    top: $top;
    svg {
      opacity: 0 ;
      width: $width;
          
    }    
  }
  
  }


// Color for main text in the beginning steps 
.stepRed {
  color: #ef3b39 !important;
}
.stepYellow {
  color: #ffb800 !important;
}

// Hack for step objects
.beabsolute {   
  opacity: 0 !important;
  position: absolute !important;
}

.change-width-80 {
width: 80% !important;
}
.change-width-20 {
  width: 20% !important;
}

// Svg animation for stroke moving
@keyframes new-line {
  @include svgLine(0,-200); 
}  

@keyframes new-line2 {
  @include svgLine(-200,0);  
}  


.absolute__svg {
  @include absolutSvg('',-50px ,84px ,200px );
}

.absolute__svg2 {
  @include absolutSvg(0,'' ,400px ,460px ); 
}


.absolute__svg3 {
  @include absolutSvg('',-50px ,74px ,135px )  
}


.asan-steps {
  display: none ;
}
// new step



.steps-wrap {
  
  .new-container {
    width: 100%;  

  }

  .steps-container {
    width: 100%;  
    height: auto;    
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    overflow: hidden;

    .steps-item {
      height: 1139px;          
      position: relative;
      transition: 0.4s;            
      &__left-1 {        
        height: 100%;
        width: 100%;
        display: inline-block;
        position: relative;        
        cursor: pointer;
        &__block {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
        }      
        p {
          width: 305px;
          margin: 0;
          color: #fff;
          font-size: 80px;
          line-height: 80px;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          font-family: Bebas Neue;
          z-index: 10;
        }
        img {
          height: 277px;
          z-index: 10;
          width: 341px;
          margin-bottom: 64.67px;
        }
      }
      &__left-2 {        
        height: 100%;
        width: 100%;
        display: inline-flex;  
        justify-content: flex-end;
        align-items: center;
        padding: 70px;
        z-index: 10;
        position: relative;                
        transition: 0.7s ease-in-out;
        transition-delay: 0.3s;
              
        svg {
         animation:new-line 2s infinite linear;                 
         transform: translateX(-50);
        }

        &__animation {                    
          height: 993px;
          width: 993px;                  
          z-index: 10;
          
          h2 {
            margin: 0;
            font-family: Bebas Neue;
            font-size: 54px;
            line-height: 54px;
            color: #EF3B39;
            text-align: center;
            width: 100%;  text-transform: uppercase;
            margin-bottom: 56px;
            opacity: 0;
          }
          .animation-wrap {
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            position: relative;   
            &__svg {              
              width: 200px;
              position: relative;
            }          
            .svg-wrap {                             
                width: 0;
                overflow: hidden;                                           
            }
            .svg-2 {
              display: flex;
              justify-content: flex-end;
              svg {
                animation:new-line2 2s infinite linear !important;
              }
            }         
            &__item {
              height: 170px;
              width: 170px;
              border: 0.625em solid #EF3B39;
              border-radius: 50%;
              opacity: 0;                                                     
            }
            &__text {
              width: 100%;
              display: flex;
              justify-content: space-between;
              text-align: center;
              margin-bottom: 5%;
              z-index: 10;
              p {
                width: 25%;
                opacity: 0;
              }
            }
            .item-1 {
              background: url('assets/media/images/content/steps-before-image1.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }
            .item-2 {
              background: url('assets/media/images/content/steps-before-image3.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }           
            .item-3 {
              background: url('assets/media/images/content/steps-before-image4.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-4 {
              background: url('assets/media/images/content/steps-before-image5.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-5 {
              background: url('assets/media/images/content/steps-before-image6.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-6 {
              background: url('assets/media/images/content/steps-before-image7.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-7 {
              background: url('assets/media/images/content/steps-before-image8.jpg') no-repeat;
              background-size: cover;
              background-position: center;
              z-index: 10;
            }                                                                  
          }


        }
      }
      &__right-1 {
        height: 100%;
        width: 100%;
        display: inline-block;        
        cursor: pointer;
        &__block {
          display: flex;
          align-items: flex-start;
          flex-direction: column;            
        }
        p {
          width: 305px;
          margin: 0;
          color: #fff;
          font-size: 80px;
          line-height: 80px;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          font-family: Bebas Neue;
          z-index: 10;
        }
        img {
          height: 277px;
          z-index: 10;
          width: 341px;
          margin-bottom: 64.67px;
        }        
      }
      &__right-2 {
        height: 100%;
        width: 100%;
        display: inline-flex;
       
        justify-content: flex-start;
        align-items: center;
        padding: 70px;
        z-index: 10;
        transition: 0.7s ease-in-out;
        transition-delay: 0.3s;
        
        svg {
          animation:new-line 2s infinite linear;                
          transform: translateX(-50);
         }
        &__animation {          
          
          height: 993px;
          width: 993px;
        
          z-index: 10;


          h2 {
            margin: 0;
            font-family: Bebas Neue;
            font-size: 54px;
            line-height: 54px;
            color: #FFB800;
            text-align: center;
            width: 100%;  text-transform: uppercase;
            margin-bottom: 56px;
            opacity: 0;
          }
          .animation-wrap {
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            position: relative;
            
            &__svg {              
              width: 200px;
            }   
            .svg-wrap {                             
              width: 0;
              overflow: hidden;                                           
            }
            .svg-2 {
              display: flex;
              justify-content: flex-end;
              svg {
                animation:new-line2 2s infinite linear !important;
              }
            }              
            &__item {
              height: 170px;
              width: 170px;
              border: 0.625em solid #FFB800;
              border-radius: 50%;  
              opacity: 0;
              background-size: cover;
              background-position: center;
              z-index: 10;        
            }
            &__text {
              width: 100%;
              z-index: 10;
              display: flex;
              justify-content: space-between;
              text-align: center;
              margin-bottom: 5%;
              
              p {
                width: 25%;
                opacity: 0;
              }
            }
            .item-1 {
              background: url('assets/media/images/content/steps-after-image1.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }
            .item-2 {
              background: url('assets/media/images/content/steps-after-image2.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }           
            .item-3 {
              background: url('assets/media/images/content/steps-after-image3.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-4 {
              background: url('assets/media/images/content/steps-after-image4.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-5 {
              background: url('assets/media/images/content/steps-after-image5.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-6 {
              background: url('assets/media/images/content/steps-after-image6.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }     
            .item-7 {
              background: url('assets/media/images/content/steps-after-image7.jpg');
              background-size: cover;
              background-position: center;
              z-index: 10;
            }                 
          }


        }
      }
    }
    // 2 big items
    .--left {
      width: calc(50% - 10px); 
      background: rgba(0, 0, 0, 0.9);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 25);
      position: relative;
      border: 1px solid #515151;
      // border-top-color: rgba(255,255,255,0.5);
      border-radius: 3px;  
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;      
      
      &:hover .overlay {
        opacity: 1 !important;        
      }
      .overlay {
        pointer-events: none;
        position: absolute;
        transition: 0.4s;
        opacity: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(239, 59, 57, 0.6) 0%,
        rgba(239, 59, 57, 0) 100%);  
        z-index: 1;      
      }
    }
    .--right {
      width: calc(50% - 10px);  
      background:  rgba(0, 0, 0, 0.9);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 25);
      position: relative;
      border: 1px solid #515151;
      // border-top-color: rgba(255,255,255,0.5);
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
     
      &:hover .overlay {
        opacity: 1 !important;
      }
      .overlay {
        opacity: 0;
        transition: 0.4s;
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: linear-gradient(to left, rgba(255, 138, 0, 0.6) 0%,
        rgba(255, 138, 0, 0) 100%);        
      }
    }
    // -2 big items

  }
}

// Sanzhar changes end




// Asan
.steps {
  margin-top: 34px;
  padding: 0;
	&-wrap {
    padding: em(71) 0;
    padding-bottom: 0;
    overflow: hidden;
    background-image: 
      url('assets/media/images/shared/rects.png'),
      url('assets/media/images/shared/step-bg-2.png'),
      url('assets/media/images/shared/step-bg-1.png');
    background-position: center center,  bottom left, top right;
    background-size: cover, auto 50%, auto 50%;
    background-repeat: no-repeat;

  }
}
.step {
  display: flex;
  color: $colorDark;
  position: relative;
  align-items: flex-start;
  
  &-icon {
    border-radius: 50%;
    overflow: hidden;
    flex-basis: em(110);
    display: flex;
    align-items: center;
    justify-content: center;
    border: em(5) solid $colorPrimary;
    margin-right: em(20);
    position: relative;
    z-index: 3;
    align-self: center;
    &.active {
      animation-name: blink;
      animation-duration: .8s;
      animation-delay: .8s;
      animation-iteration-count: 2;
      &+.step-caption {
        opacity: 1;
        transition-delay: .4s;
        transform: translateX(0);
      }
    }
  }
  &-img {
    display: block;
    max-width: 100%;
  }
  &-caption {
    flex-basis: em(220);
    // padding-top: em(52);
    align-self: center;
    &--right {
      text-align: right;
    }
  }
  &-text {
    font-size: em(14);
    margin: 0;
  }
  &-title {
    font-family:$ffHeader;
    font-size: em(28);
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: em(3,50);
  }
  &-line {
    position: absolute;
    top: 100%;
    margin-top: 0;
    transition: linear 1s;
    max-width: em(0);
    overflow: hidden;
    will-change: width;
    svg {
      width: 100%;
    }
    &--left {
      transform-origin: left top;
      left: 50px;
      right: 50px;
    }
    &--right {
      transform-origin: right top;
      left: 50px;
      right: 50px;
      text-align: right;
      svg {
        float: right;
        animation-direction: reverse;
        
      }
    }
    &.active {
      max-width: none;
      max-height: none;
      svg {
        animation-name: line;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  &+.step {
    margin-top: 50px;
  }
  &:last-child {
    .step-line {
      display: none;
    }
  }
  &--right {
    flex-direction: row-reverse;
    .step-icon {
      margin-left: em(20);
      margin-right: 0;
    }
  }
  &.active {
    
  }
}
@keyframes line{
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -120;
  }
}
@keyframes blink{
  0% {
    box-shadow: 0 0 0 $colorAlt;
  }
  50% {
    box-shadow: 0 0 50px $colorAlt;
  }
}
.show-mobile {
  display: block;
}
.show-tablet {
  display: none;
}
@media (min-width: 560px) {
  .step {
    &+.step {
      margin-top: 10%;
    }
    &-line {
      margin-top: -4%;
    }
  }
  .show-mobile {
    display: none;
  }
  .show-tablet {
    display: block;
  }
}
@media (min-width: 760px) {
  .steps {
    margin: 34px 0;
    padding: 0 85px;
    width: auto;
    &-wrap {
      background-size: cover, auto, auto;
    }
  }
  .step {
    &+.step {
      margin-top: 4em;
    }
    &-icon {
      flex-basis: em(220);
      border: em(10) solid $colorPrimary;
    }
    &-img {
      display: block;
    }
    &-caption {
      flex-basis: em(470);
      align-self: center;
    }
    &-line {
      margin-top: 0%;
      &--left {
        transform-origin: left top;
        left: 15%;
        right: 15%;
      }
      &--right {
        transform-origin: right top;
        right: 15%;
        left: 15%;
        text-align: right;
      }
      svg {
        width: 100%;
        height: 100%;
      }
      &.active {
        max-width: em(546);
      }
    }
    &-text {
      font-size: em(18);
    }
    &-title {
      font-size: em(36);
    }
  }
}
@media (min-width: 960px) {
  .step {
    &+.step {
      margin-top: 5em;
    }
    &-icon {
      flex-basis: em(190);
      border: em(10) solid $colorPrimary;
    }
    &-img {
      display: block;
    }
    &-caption {
      flex-basis: em(470);
      align-self: center;
    }
    &-line {
      margin-top: 0%;
      svg {
        width: em(580);
      }
      &--left {
        transform-origin: left top;
        left: em(90);
        right: auto;
      }
      &--right {
        transform-origin: right top;
        right: em(90);
        left: auto;
        text-align: right;
      }
      &.active {
        max-width: em(580);
        max-height: em(105);
      }
    }
    &-text {
      font-size: em(25);
    }
    &-title {
      font-size: em(50);
    }
  }
}
@media (min-width: 1070px) {
  .step {
    &-line {
      margin-top: 0%;
      svg {
        width: em(720);
      }
      &--left {
        transform-origin: left top;
        left: em(90);
        right: auto;
      }
      &--right {
        transform-origin: right top;
        right: em(90);
        left: auto;
        text-align: right;
      }
      &.active {
        max-width: em(720);
        max-height: em(105);
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .sanj-steps {
    display: none !important;
  }
  .asan-steps {
    display: block !important;
  }
}


//  sanzhar media

@media (min-width: 1070px) and (max-width:1370px) {
  
  .absolute__svg {
    position: absolute;
    right: -20px;
    top: 5px;
    svg {
      opacity: 0;
      width: 104px;
    }
  }
  
  .absolute__svg2 {
    position: absolute;
    left: 0;
    top: 250px;
    svg {
      opacity: 0 ;
      width: 360px;
      
    }
  }
  
  .absolute__svg3 {
    position: absolute;
    right: -20px;
    top: 15px;
    svg {
      opacity: 0;
      width: 114px;
      path {
        stroke-width: 6;
      }
    }
  }
  
  
  .asan-steps {
    display: none ;
  }
  // new step
  .steps-wrap {    
    .new-container {
      width: 100%;       
    }
  
    .steps-container {     
      .steps-item {      
        &__left-1 {               
          p {
            width: 405px;
            margin: 0;
            color: #fff;
            font-size: 60px;
            line-height: 60px;      
          }
          img {
            height: 277px;
            z-index: 10;
            width: 341px;
            margin-bottom: 64.67px;
          }
        }
        &__left-2 {          
          &__animation {                    
            height: 993px;
            width: 693px;                              
            .animation-wrap {          
              &__svg {              
                width: 200px;
                position: relative;
              }
              .svg-1 {
                svg {
                  path {
                    stroke-width: 5;
                  }
                }
              }
              .svg-2 {
                display: flex;
                justify-content: flex-end;
                svg {                  
                  animation:new-line2 2s infinite linear !important;
                  path {
                    stroke-width: 5;
                  }
                }
              }         
              &__item {
                height: 90px;
                width: 90px;
                border: 0.325em solid #EF3B39;                                              
              }
              &__text {   
                margin-bottom: 5%;               
                p {
                  width: 20%;
                  opacity: 0;
                }
              }

            }
  
  
          }
        }
        &__right-1 {    
          p {
            width: 405px;
            margin: 0;
            color: #fff;
            font-size: 60px;
            line-height: 60px; 
  
          }
          img {
            height: 277px;
            z-index: 10;
            width: 341px;
            margin-bottom: 64.67px;
          }        
        }
        &__right-2 {           
          &__animation {                    
            height: 993px;
            width: 693px;          
            z-index: 10;         
            .animation-wrap {       
              &__svg {              
                width: 200px;
              }   
              .svg-1 {
                svg {
                  path {
                    stroke-width: 5;
                  }
                }
              }
              .svg-2 {
                display: flex;
                justify-content: flex-end;
                svg {
                  animation:new-line2 2s infinite linear !important;
                  path {
                    stroke-width: 5;
                  }
                }
              }              
              &__item {
                height: 90px;
                width: 90px;
                border: 0.325em solid #FFB800;
                border-radius: 50%;  
                opacity: 0;        
              }
              &__text {
                width: 100%;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                text-align: center;
                margin-bottom: 5%;
                
                p {
                  width: 20%;
                  opacity: 0;
                }
              }
        
            }
  
  
          }
        }
      }
   
  
    }
  }
}


// end sanzhar media