

.benefits {
  margin-top: em(51);
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-item {
    padding-top: 5px;
    padding-bottom: 5px;
    
    &:last-child {
      flex-basis: 100%;

      .benefit {
        justify-content: flex-end;
        align-items: flex-start;
        background:url('assets/media/images/content/tp-woman.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 18.75em;       
      }
      img {
        float: right;
        z-index: -1;    
      }
    }
  }
  &-wrap {
    padding: em(85) 0 em(74);
    background-image: url($imgPath+'tp-back-white.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: rgba(255,255,255,0.95);
    }
  }
}
.benefit {
  margin: 0;
  position: relative;
  max-height: em(300);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100vw;
  &::after {
      content: '';
      position: absolute; top: 0; left: 0;
      height: 100%; width: 100%;
      background: rgba(0,0,0,0.3);
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(15deg, rgba(0,0,0,0.5) 0%,rgba(160,160,160,0) 60%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00ffffff',GradientType=1 );
  }
  &-img {
    // max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &-caption {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    color: $colorMain;
    padding: em(20) em(25) em(20) em(20);
    max-width: em(570);
    height: em(180)
    
  }
  &-text {
    font-size: em(14);
    margin: 0;
  }
  &-title {
    font-size: em(24);
    font-family: $ffHeader;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: em(10, 24);
  }
}
@media (min-width: 760px) {
  .benefits {
    margin-left: em(-5);
    margin-right: em(-5);
    justify-content: space-between;
    &-item {
      flex-basis: 50%;
      padding: em(5);
      &:last-child {
        flex-basis: 100%;
      }
    }
  }
  .benefit {
    max-height: em(370);
    &-img {
      max-width: 100%;
    }
    &-title {
      font-size: em(30);
    }
    &-text {
      font-size: em(16);
    }
  }
}

@media (min-width: 1070px) {
  .benefit {
    min-height: em(370);
  }
}



#modal-spec {
  position: fixed;
  height: 100vh;
  width: 100%; 
  top: 0;
  left: 0;     
  background: rgba(241, 241, 241, 0.81);
  z-index: 100;  
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.modal-spec {
  position: relative;
}

  .modal-spec {           
    height: auto;
    width: vw(968); 
    background: #353535;  
    display: flex;
    flex-direction: column;  
    border-radius: vw(16)
  }
  .modal-spec__title {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    h2 {
      font-family: Bebas Neue;
      font-size: vw(60);
      margin: 0;
      font-weight: normal;
    }
    p {
      font-family: Montserrat;
      font-size: vw(25);            
    }
  }
  .modal-spec__main {
    display: flex;
    width: 100%;
    height: vw(315);
    background: #fff;
    &__img {
      width: 47.83%;
      height: 100%;    
      display: flex;
      justify-content: center;
      align-items: center;              
      img {
        object-fit: cover;
        height: vw(265);        
        width: vw(252);        
      }
    }
    &__content {
      flex:1;
      height: 100%;
      color: #000;   
      font-family: Montserrat;
      h2 {
        margin: 0;
        padding-top: vw(40);      
        font-size: vw(30);          
      }   
      p {
        font-size: vw(25);  
      }
    }    
  }
  .modal-spec__footer {
    height: vw(149);
    width: 100%;
    display: flex;
    align-items: center;  
    position: relative;   
    form {
      display: flex;
      align-items: center;
      padding-left: vw(30);
    } 
    input {
      height: vw(50);
      width: vw(330);
      background: #fff;
      margin-right: vw(24);     
      border-radius: vw(44); 
      border: none;  
      padding-left: vw(57);    
      display: flex;
      align-items: center;   
      font-size: vw(25);
      color: #636363;  
      font-family: Montserrat-light; 
      font-weight: 200;         
    }     
    i {
      position: absolute;
      top: 0;bottom: 0; margin: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: vw(15);        
    }  
    .login-i {      
        height: vw(27);
        width: vw(27);  
        left: vw(45);            
    }    
    .number-i {              
        height: vw(35);
        width: vw(26);     
        left: vw(399); 
    }
    $vw4: vw(4);
    button {
      height: vw(50);
      width: vw(194);
      background: #FFB800;      
      border-radius: vw(44);
      box-shadow: 0px $vw4 $vw4 rgba(0, 0, 0, 0.25);
      border:none;
      font-size: vw(25);
      color: #fff;
      font-family: Montserrat;
      text-transform: uppercase;
      cursor: pointer;
    }
    a {
      display: none;
    }
  }

  .close-butt {
    display: block;
    position: absolute;
    top: vw(20);
    right: vw(20);        
    color: #fff;
    font-size: vw(40);
    cursor: pointer;
  }

 .mobile-futt {
   display: none !important;
 }

 
@media (max-width: 960px) {
  .close-butt {
    display: block;
    position: absolute;
    top: vw(0);
    right: vw(0);
    padding: vw(80) vw(150);
    padding-top: vw(50);
    padding-right: vw(80);
    color: #fff;
    font-size: vw(100)
  }
  .mobile-futt {
    display: flex;
  }
  .modal-spec {           
    height: auto;    
    width: vwM(968); 
    background: #353535;  
    display: flex;
    flex-direction: column;  
    border-radius: vwM(16);  
  }
  .modal-spec__title {
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      font-family: Bebas Neue;
      font-size: vwM(90);
      margin: 0;
      font-weight: normal;
    }
    p {
      font-family: Montserrat;
      font-size: vwM(37.5);            
    }
  }
  .modal-spec__main {
    display: flex;
    width: 100%;
    height: vwM(450);
    background: #fff;
    &__img {
      width: 47.83%;
      height: 100%;    
      display: flex;          
      justify-content: center;
      align-items: center;              
      img {
        object-fit: cover;
        height: vwM(265);        
        width: vwM(252);        
      }
    }
    &__content {
      flex:1;
      height: 100%;
      color: #000;   
      font-family: Montserrat;
      h2 {
        margin: 0;
        padding-top: vwM(40);      
        font-size: vwM(45);          
      }   
      p {
        font-size: vwM(30);  
      }
    }    
  }
  .modal-spec__footer {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;  
    position: relative;  
    padding: vw(70) 0;     
    form {
      display: none;
      align-items: center;      
      padding-left: vwM(30);
    }        
    .login-i {      
        height: vwM(27);
        width: vwM(27);  
        left: vwM(45);            
    }    
    .number-i {              
        height: vwM(35);
        width: vwM(26);     
        left: vwM(399); 
    }
    $vwM4: vwM(4);
    a {      
      text-decoration: none;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: vwM(75);
      width: vwM(291);
      background: #FFB800;      
      border-radius: vwM(66);
      box-shadow: 0px $vwM4 $vwM4 rgba(0, 0, 0, 0.25);
      border:none;
      font-size: vwM(30.5);
      color: #fff;
      font-family: Montserrat;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
    }
  }
}