.callback {
  &-wrap {
    background-color: $colorDark;
    padding-top: em(70);
    padding-bottom: em(53);
    border-top: 5px solid $colorPrimary;
    border-bottom: 5px solid $colorAlt;
  }
  &-title {
    font-family: $ffHeader;
    text-align: center;
    font-size: em(36);
  }
  &-desc {
    text-align: center;
    font-size: em(18);
    font-weight: 300;
    margin: em(10, 30) 0;
  }
  &-form {
    margin-top: em(26);
    margin-bottom: em(26);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    .btn {
      min-height: 50px;
    }
    .input {
      margin: em(5);
      width: 285px;
      // text-align: center;
    }
    &-message {
      display: none;
      width: 100%;
      text-align: center;
      font-size: em(20);
      margin: em(20, 18)
    }
    &.submitted {
      .callback-form-message {
        opacity: 1;
      }
    }
    &.loading {
      opacity: 0.6;
      pointer-events: none;
      .btn {
        color: transparent;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -10px;
          margin-left: -10px;
          width: 20px;
          height: 20px;
          border-top: 2px solid $colorMain;
          border-left: 2px solid $colorMain;
          border-bottom: 2px solid $colorMain;
          border-right: 2px solid transparent;
          border-radius: 20px;
          animation-name: roll;
          animation-iteration-count: infinite;
          animation-duration: 1s;
        }
      }
    }
  }
  &-end {
    text-align: center;
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
@media (min-width: 760px) {
  .callback {
    &-desc {
      font-size: em(24);
    }
    &-title {
      font-size: em(50);
    }
    &-form {
      .input {
        width: auto;
      }
    }
  }
}
@media (min-width: 960px) {

}
@media (min-width: 1070px) {

}