.new-hero-wrap {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

.hero-ul {   
    margin: 0 ;
    padding:0 20px; 
    @media screen and (max-width:960px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    } 
    li {
      list-style-type: none;
      position: relative;
      @media screen and (max-width:960px) {
          width: 20%;          
      }
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 100px;
        height: 7px;
        width: 7px;
        background: #fff;       
      }
    }
}

@media screen and (max-width:960px) {
  .new-hero-wrap {
  justify-content: center;
  }
  .hero-caption_text  {
    font-size: 22px !important; 
      
  }

  .btn {  
    padding: 1em 2em !important;   
}
.hero-wrap {
  background-position: center right !important;
}
}

.hero {
  padding-bottom: em(80);
  padding-left: em(5);  
  .no-webp &-wrap {
    background-image: url($imgPath+'promo-second-bg.jpg');
  }
  .webp &-wrap {
    background-image: url($imgPath+'promo-second-bg.webp');
  }
  &-wrap {   
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50px );
    min-height: em(500);
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background:rgba(0,0,0,0.2);  
      @media screen and (max-width: 960px) {
        background:rgba(0,0,0,0.4);  
      }    
    }
    @media screen and (max-width: 960px) {
      background-image: url($imgPath+'promo-second-bg.jpg');
    }
  }
  &-caption {
    text-align: center;
    &_title {
      margin: 0;
      font-family: $ffHeader;
      font-size: em(48);
      line-height: 1;
      margin-bottom: em(15, 48);
      transition-delay: .3s;
    }
    &_text {
      transition-delay: .6s;
      font-size: em(16);      
      margin: em(10, 16) 0; 
      span{
        font-size: em(25);
      }    
      &--bigger {
        transition-delay: .9s;
        font-weight: 700;
        font-size: em(18);
      }
    }
    &-footer {
      transition-delay: 1.2s;
      margin-top: em(45);
      text-align: left;
      @media screen and (max-width: 960px) {
        text-align: center;
      }   
    }
  }
}
@media (min-width: 768px) {
  .hero {
    &-wrap {
      height: calc(100vh - 100px );
    }
  }
}
@media (min-width: 960px) {
  .hero {
    &-caption {
      text-align: left;
      &_title {
        font-size: em(70);
      }
      &_text {
        font-size: em(30);
        span {
          font-size: em(30);
        }
        &--bigger {
          font-size: em(23);
        }
      }
      &--foter {
        margin-top: em(35);
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1370px) {
  .hero {
    &-caption {
      text-align: left;
      &_title {
        font-size: em(50);
      }
      &_text {
        font-size: em(20);
        &--bigger {
          font-size: em(23);
        }
      }
      &--foter {
        margin-top: em(15);
      }
    }
  }
}



@media (min-width: 960px) {
.btn--big {    
    padding: 1em 2em !important;
    font-size: 20px;
}
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .new-hero-wrap {
    justify-content: center;
    align-items: center;
  }
}

.rngst_phone_button {
  bottom: calc(6% - 19.5px) !important;  
  margin-right: 0 !important;
}



.top-jivo {
  cursor: pointer;
}
.globalClass_ET {
  display: none;
}
.opacity-imp {
  opacity: 0 !important;
}

._orinationRight_25.wrap_mW {
  display: none;
}

#buttons .jivoBtn  {
  display: none;
}