@mixin overlay() {
  content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; 
      pointer-events: none;       
}

@mixin coverCenter() {
  background-size: cover;
  background-position:center;
}

@function vh($px) {
  @return ($px * 0.10319) + vh;
}

@function vw($px) {
  @return ($px * 0.05208) + vw;
}

@function vwM($px) { 
  @return (($px * 0.05208) * 2) + vw;
}

.asan-steps {
  display: none ;
}

#sanj-steps {
  height: auto;
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
}

.tp-step {
  height: 50vw;  
  width: 49%;
  color: #000;  
  position: relative;
  background: rgb(37, 37, 37);
  border-radius: vw(3);
  box-shadow: 0 1px 4px #000;
  transition: 0.3s;
  font-family: Bebas Neue;
  color: #fff;
  display: flex;
  flex-direction: column;  
  h2 {
    text-align: center;
    font-size: 3vw;
  }
  .span-left {
    color: #ef3b39;
  }
  .span-right {
    color: #ffb800;
  }
}

.tp-fade {  
  display: flex; 
  flex-direction: column;
}

.tp-step-left {  
  margin-right: 1vw;  
  align-items: flex-end;  
  .hidden-fade__title {
    color: #ef3b39;
  }
  h2 {
    margin-right: vw(50);
  }
  .tp-fade {
   align-items: flex-end;
  }
  .hidden-fade {
    right: 0;
  }
  &::after {
    @include overlay();   
    background: linear-gradient(90deg, rgba(239, 59, 57, 0.6) 0%, rgba(239, 59, 57, 0) 100%);
  }
}


.tp-step-right { 
  h2 {
    margin-left: vw(50);
  }
  .hidden-fade__title {
    color: #ffb800;
  }     
  .hidden-fade {
    left: 0;
  }
  .tp-fade {
    align-items: flex-start;
   }
  text-align: center;
  align-items: flex-start;
  background: rgba(0,0,0,.9) !important;
  &::after {
    @include overlay();   
    background: linear-gradient(270deg, rgba(255, 138, 0, 0.6) 0%, rgba(255, 138, 0, 0) 100%);
  }
}

[v-cloak] {
  display: none;
}

.hidden-fade {
  height: 100%;
  width: 90%;  
  position: absolute;
  top: 0;
  padding: 1vw 0;  
  z-index: 10;      
  
  &__title {
    text-align: center;
    font-size: 2.5vw;    
    font-weight: bold;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.hidden-fade__content {
  width: 100%; 
  display: flex;
  align-items: center;
  flex-direction: column;  
  margin-top: vw(50); 
  position: relative;
  ul{
    width: 65%;    
    display: flex;    
  justify-content: space-between;  
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 7vw;
  }  
  .content__img {
    height: vw(150);
    width: vw(150);    
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }      
  }  
  .content__img__red {
    border: .5vw solid #ef3b39;
  }
  .content__img__yellow {
    border: .5vw solid #ffb800;
  }
  li {
    position: relative;
    opacity: 0;
    p {
      position: absolute;
      width: 7.5vw;
      font-size: vw(15);
      text-align: center;
      font-family: Montserrat;
      text-transform: none;
    }
  }
}

  .content__svg {
    width: 23vw;
    height: 1vw;
    position: absolute;    
    z-index: -1;   
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;        
    margin: auto;
  }      

  .content-right-svg {    
    height: vw(292);       
    width: 5vw;
    position: absolute;
    top: vw(70);
    right: vw(140);
    z-index: -1;
    margin: auto;         
  }
  
  .content-left-svg {    
    height: vw(300);           
    position: absolute;
    top: vw(357);
    left: vw(80);
    z-index: -1;
    margin: auto; 
    animation: dash-left 1s linear infinite;       
  }

  .svg-anim-top {
    animation: dash-top 1s linear infinite;
  }

  .svg-anim-bottom {        
    animation: dash-bottom 1s linear infinite;               
  }

  .svg-anim-right path {
    animation: dash-right 1s linear infinite;   
  }

  .svg-anim-left path {
    animation: dash-left 1s linear infinite;   
  }

  @keyframes dash-top {
    to {
      stroke-dashoffset: -100;
    }
  }

  @keyframes dash-bottom {
    to {
      stroke-dashoffset: 100;
    }
  }

  @keyframes dash-right {
    from {
      stroke-dasharray: 25 8;
    }
    to {
      stroke-dasharray: 25 8;
      stroke-dashoffset: -100;
    }
  }

  @keyframes dash-left {
    from {
      stroke-dasharray: 25 8;
    }
    to {
      stroke-dasharray: 25 8;
      stroke-dashoffset: -100;
    }
  }













// Asan
.steps {
  margin-top: 34px;
  padding: 0;
  .no-webp &-wrap {
    background-image: 
    url('assets/media/images/shared/rects.png'),
    url('assets/media/images/shared/step-bg-22.png'),
    url('assets/media/images/shared/step-bg-11.png');
  }
  .webp &-wrap {
    background-image: 
    url('assets/media/images/shared/rects.png'),
    url('assets/media/images/shared/step-bg-22.webp'),
    url('assets/media/images/shared/step-bg-11.webp');
  }
	&-wrap {
    padding: em(71) 0;
    padding-bottom: 0;
    overflow: hidden;    
    background-position: center center,  bottom left, top right;
    background-size: cover, auto 50%, auto 50%;
    background-repeat: no-repeat;

  }
}
.step {
  display: flex;
  color: $colorDark;
  position: relative;
  align-items: flex-start;
  
  &-icon {
    border-radius: 50%;
    overflow: hidden;
    flex-basis: em(110);
    display: flex;
    align-items: center;
    justify-content: center;
    border: em(5) solid $colorPrimary;
    margin-right: em(20);
    position: relative;
    z-index: 3;
    align-self: center;
    &.active {
      animation-name: blink;
      animation-duration: .8s;
      animation-delay: .8s;
      animation-iteration-count: 2;
      &+.step-caption {
        opacity: 1;
        transition-delay: .4s;
        transform: translateX(0);
      }
    }
  }
  &-img {
    display: block;
    max-width: 100%;
  }
  &-caption {
    flex-basis: em(220);
    // padding-top: em(52);
    align-self: center;
    &--right {
      text-align: right;
    }
  }
  &-text {
    font-size: em(14);
    margin: 0;
  }
  &-title {
    font-family:$ffHeader;
    font-size: em(28);
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: em(3,50);
  }
  &-line {
    position: absolute;
    top: 100%;
    margin-top: 0;
    transition: linear 1s;
    max-width: em(0);
    overflow: hidden;
    will-change: width;
    svg {
      width: 100%;
    }
    &--left {
      transform-origin: left top;
      left: 50px;
      right: 50px;
    }
    &--right {
      transform-origin: right top;
      left: 50px;
      right: 50px;
      text-align: right;
      svg {
        float: right;
        animation-direction: reverse;
        
      }
    }
    &.active {
      max-width: none;
      max-height: none;
      svg {
        animation-name: line;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  &+.step {
    margin-top: 50px;
  }
  &:last-child {
    .step-line {
      display: none;
    }
  }
  &--right {
    flex-direction: row-reverse;
    .step-icon {
      margin-left: em(20);
      margin-right: 0;
    }
  }

}
@keyframes line{
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -120;
  }
}
@keyframes blink{
  0% {
    box-shadow: 0 0 0 $colorAlt;
  }
  50% {
    box-shadow: 0 0 50px $colorAlt;
  }
}
.show-mobile {
  display: block;
}
.show-tablet {
  display: none;
}
@media (min-width: 560px) {
  .step {
    &+.step {
      margin-top: 10%;
    }
    &-line {
      margin-top: -4%;
    }
  }
  .show-mobile {
    display: none;
  }
  .show-tablet {
    display: block;
  }
}
@media (min-width: 760px) {
  .steps {
    margin: 34px 0;
    padding: 0 85px;
    width: auto;
    &-wrap {
      background-size: cover, auto, auto;
    }
  }
  .step {
    &+.step {
      margin-top: 4em;
    }
    &-icon {
      flex-basis: em(220);
      border: em(10) solid $colorPrimary;
    }
    &-img {
      display: block;
    }
    &-caption {
      flex-basis: em(470);
      align-self: center;
    }
    &-line {
      margin-top: 0%;
      &--left {
        transform-origin: left top;
        left: 15%;
        right: 15%;
      }
      &--right {
        transform-origin: right top;
        right: 15%;
        left: 15%;
        text-align: right;
      }
      svg {
        width: 100%;
        height: 100%;
      }
      &.active {
        max-width: em(546);
      }
    }
    &-text {
      font-size: em(18);
    }
    &-title {
      font-size: em(36);
    }
  }
}
@media (min-width: 960px) {
  .step {
    &+.step {
      margin-top: 5em;
    }
    &-icon {
      flex-basis: em(190);
      border: em(10) solid $colorPrimary;
    }
    &-img {
      display: block;
    }
    &-caption {
      flex-basis: em(470);
      align-self: center;
    }
    &-line {
      margin-top: 0%;
      svg {
        width: em(580);
      }
      &--left {
        transform-origin: left top;
        left: em(90);
        right: auto;
      }
      &--right {
        transform-origin: right top;
        right: em(90);
        left: auto;
        text-align: right;
      }
      &.active {
        max-width: em(580);
        max-height: em(105);
      }
    }
    &-text {
      font-size: em(25);
    }
    &-title {
      font-size: em(50);
    }
  }
}
@media (min-width: 1070px) {
  .step {
    &-line {
      margin-top: 0%;
      svg {
        width: em(720);
      }
      &--left {
        transform-origin: left top;
        left: em(90);
        right: auto;
      }
      &--right {
        transform-origin: right top;
        right: em(90);
        left: auto;
        text-align: right;
      }
      &.active {
        max-width: em(720);
        max-height: em(105);
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  #sanj-steps {
    display: none !important;
  }
  .sanj-steps {
    display: none !important;
  }
  .asan-steps {
    display: block !important;
  }
}


//  sanzhar media

@media (min-width: 1070px) and (max-width:1370px) {
  .asan-steps {
    display: none ;
  }
}


// end sanzhar media

.addOpacity {
  opacity: 0 !important;
}