- var title = 'Top Security | Обезопась себя и своих близких!'
include sections/header.pug
include sections/hero.pug
include sections/steps.pug
include sections/services.pug
include sections/benefits.pug
include sections/testimonials.pug
include sections/about.pug
include sections/license.pug
include sections/clients.pug
include sections/alarm-button.pug
include sections/callback.pug
include sections/team.pug
include sections/footer.pug
include sections/mobile-menu.pug
<!DOCTYPE html>
html(lang="ru")
  include includes/head.pug 
  body
    include sections/before-body.pug
    +header()
    +mobile-menu()
    main            
      +hero()
      +services()
      +steps()            
      +benefits()            
      +about()                  
      +license()
      +alarm()
      +our-clients()      
      +callback()            
      +footer()   

    //- script(type='text/javascript').
    //-   (function(){ var widget_id = 'v3yPdiqQHg';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();  
    script(src="main.js?v=172")
    
    