mixin about() 
  section.about-wrap#about.spy-it
    .container
      h1.section-title.section-title--small.section-title--alt.anim.slide-in-top TOP Security KZ      
      .about        
        .about-main.w-100
          .about-item.anim.slide-in-bot.h-about-img                         
            iframe(class="top-video", src='https://www.youtube.com/embed/B1UMkBdsO1o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            //- img.about-img(src="assets/media/images/content/about-1.png", alt="Видео")            
            //- a.about-item-link#about-play
            //-   img.about-item-img(src="assets/media/images/content/video.svg", alt="Видео")
            //-   span.about-item-label Видео
        //- .about__content 
        //-   h2
        //-     .content__number(data-count="821") 0
        //-     span Довольных клиентов   
        //-   h2 
        //-     .content__number(data-count="25") 0
        //-     span партнеров
        //-   h2 
        //-     .content__number(data-count="2") 0
        //-     span года на рынке                                  
        //- .about-aside.anim.slide-in-bot
        //-   .about-item
        //-     img.about-img(src="assets/media/images/content/about-2.png", alt="Фото")
        //-     a.about-item-link(href="http://topsecurity.kz/photos", target="_blank" title="Фотогалерея")
        //-       img.about-item-img(src="assets/media/images/content/photo.svg", alt="Фото")
        //-       span.about-item-label Фото
        //-   .about-item
        //-     img.about-img(src="assets/media/images/content/about-3.png", alt="Статьи")
        //-     a.about-item-link(href="http://topsecurity.kz/articles" target="_blank", title="Статьи")
        //-       img.about-item-img(src="assets/media/images/content/posts.svg", alt="Статьи")
        //-       span.about-item-label Статьи
