mixin our-clients()
    //- section.our-clients 
    //-     .container 
    //-         .your-class
    //-           div your content
    //-           div your content
    //-           div your content            