mixin footer-menu-item(data)
  li.footer-menu-item
    a.footer-menu-link.spy.js-scroll-to(href=data.href, title=data.name)!=data.name
mixin footer() 
      #contacts.spy-it
      .des
       .new-footer
        .container
         .new-footer__wrap
           .new-footer__block.jcsb 
             .block__menu            
             .block__location
              h2 ТОО «Top Security KZ»
              p
               |Адрес: Казахстан, г.Алматы, 
               br
               | ул. Шевченко 153/1
               br
               a Call-center: 5335, +7 (701) 643-79-56, #[br] +7 (727) 339-04-52 
               br
               a ПЦН: +7 (701) 031-68-20
               br                         
               |Email: info@topsecurity.kz
           .new-footer__block
             .block__logo
               img(src="assets/media/images/content/logo-ft.svg", alt="Top Secturity logotype") 
             .block__number               
                a.primary-a(href="tel:5335") 5335
                .block__preveligous
                    p(style="color:#fff") *Звонок с мобильного бесплатный                
                a.primary-a(href="tel:+77273390452") +7 (727) 339-04-52 
                <br>                    
                a.primary-a(href="tel:+77016437956") +7 (701) 643-79-56
           .new-footer__block.aife.jcfe
             .block__social                 
                img(src="assets/media/images/shared/fb.svg" onclick="window.open('https://www.facebook.com/topseckz/','_blank')" )
                img(src="assets/media/images/shared/inst.svg" onclick="window.open('https://www.instagram.com/topsecurity.kz/','_blank')")
                //-  img(src="assets/media/images/shared/vk.svg" onclick="location.href='https://vk.com/topsecuritykz'")
                //-  img(src="assets/media/images/shared/fb.svg" onclick="location.href='https://www.facebook.com/topseckz/'")
                //-  img(src="assets/media/images/shared/inst.svg" onclick="location.href='https://www.instagram.com/topsecurity.kz/ '")               
             .block__copyright
               p 
                | Copyright © 2018 Top Security KZ.
                br
                | All Rights Reserved  
      .mle
        .new-footer
         .container
          .new-footer__wrap
            .new-footer__block
              .block__logo
                img(src="assets/media/images/content/logo-ft.svg", alt="Top Secturity logotype") 
              .block__number
                a.primary-a(href="tel:5335") 5335
                .block__preveligous
                    p(style="color:#fff") *Звонок с мобильного бесплатный 
                a.primary-a(href="tel:+77273390452") +7 (727) 339-04-52 
                <br>                
                a.primary-a(href="tel:+77016437956") +7 (701) 643-79-56
            .new-footer__block.jcsb 
 
              .block__location
               h2 ТОО «Top Security KZ»
               p
                |Адрес: Казахстан, г.Алматы, 
                br
                | ул. Шевченко 153/1
                br                  
                br              
                a.secondary-a.dblock Call-center:
                a.secondary-a.dblock 5335,
                a.secondary-a.dblock +7 (701) 643-79-56,
                a.secondary-a.dblock +7 (727) 339-04-52
                br
                a.secondary-a.dblock ПЦН:                
                a.secondary-a.dblock +7 (701) 031-68-20
                br              
                |Email: info@topsecurity.kz
            .new-footer__block.jcc
              .block__social                 
                img(src="assets/media/images/shared/fb.svg" onclick="window.open('https://www.facebook.com/topseckz/','_blank')" )
                img(src="assets/media/images/shared/inst.svg" onclick="window.open('https://www.instagram.com/topsecurity.kz/','_blank')")
              .block__copyright
                p 
                 | Copyright © 2018 Top Security KZ.
                 br
                 | All Rights Reserved                 

