mixin hero() 
  section.hero-wrap
    .container.container--flex
      .new-hero-wrap
        .overlay
        .hero
          .hero-caption
            h1.hero-caption_title Охранная сигнализация 
              br
              | для дома и офиса
            .hero-caption_text  Бесплатно:               
              ul.hero-ul             
                li Выезд #[br]
                li Осмотр помещения#[br] 
                li Монтаж
              br  
              | Надежная защита имущества
              br               
              | за 5 500 тг в месяц
              br              

            //- p.hero-caption_text.hero-caption_text--bigger.slide-in-right.anim Top Security лучший выбор!
            .hero-caption-footer
              a.btn.btn--big.btn--primary.js-scroll-to(href="#callback" onclick="dataLayer.push({'event': 'header-consultation'})") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
          
              