mixin license()
    section.license
        .container
            h2 Наши лицензии
            article
                img#license-first(src=path + "first-license.png", alt="")
                img.license-icon(src=path + "license-icon.png", alt="")
                img#license-second(src=path + "second-license2.png?v=001", alt="")
            article
                p 
                    span Уведомление № KZ82UBG0000297 #[br]
                    |Уведомление о деятельности по монтажу #[br]
                    |наладке и техническому обслуживанию #[br] средств охранной cигнализации #[br]
                    |от 23.02.2018 года
                p
                    span Лицензия № 19004986 #[br]
                    |На осуществление охранной #[br] деятельности юридическими лицами #[br]
                    |от 28.02.2019 года                                        
        .license-overlay.dn        
        .license-hidden.first-hidden.dn
            button                        
        .license-hidden.second-hidden.dn
            button 

          
 

            
            
