mixin services() 
  section.services-wrap#services.spy-it
    .container.services
      h1.section-title.section-title--alt.anim.slide-in-top Наши услуги
      p.services-text.anim.slide-in-bot Надежный удаленный контроль при помощи<br>беспроводной сигнализации в квартире, доме или офисе
      .services__container
        .services__first.services__block.anim.slide-in-left
          .services__block__title Охранная сигнализация #[br] Standart          
          .services__block__content 
            .services__block__image            
              img(src="assets/media/images/content/promo-benefits-left.png", alt="")
            button.services__button Подробнее              
            .services__block__text.op0.text-dn
              | Комплексная охранная система с возможностью использования беспроводных и проводных датчиков. Обеспечивает полноценную защиту объекта. 
              br
              br
              |В комплекте: 
              br              
              span датчики движения и открытия, сирена, пульт управления.
              br
              br
              | Беспроводной тип передачи сигнала
        .services__first.services__block.anim.slide-in-right
          .services__block__title Охранная сигнализация #[br] Premium
          .services__block__content 
            .services__block__image
              img(src="assets/media/images/content/promo-benefits-right.svg", alt="")
            button.services__button Подробнее  
            .services__block__text.op0.text-dn
              | Интеллектуальная охранная система с высокой степенью защиты от несанкционированного вторжения. Полный спектр защиты охранных зон.
              br
              br
              |В комплекте: 
              br            
              span Мощный процессор, комплект беспроводных датчиков движения и контроля доступа в помещения. 
              br
              br
              | Беспроводной тип передачи сигнала                                           
        
      //- ul.services-list
      //-   li.services-item.anim.slide-in-left
      //-     figure.service
      //-       img.service-img(
      //-         src="assets/media/images/content/service-1.png",
      //-         alt="Тревожная сигнализация")
      //-       figcpation.service-label 
      //-         a(href="#").service-link Тревожная сигнализация
      //-   li.services-item.anim.slide-in-right
      //-     figure.service
      //-       img.service-img(
      //-         src="assets/media/images/content/service-2.png",
      //-         alt="Охранная сигнализация")
      //-       figcpation.service-label
      //-         a(href="#").service-link Охранная сигнализация